 <div class="mt-6">
    <div class="bg-[#626262]/20 backface-visible perspective-distant p-3 shadow-2xl rounded-md mx-2.5 space-y-4">
        <h2 class="text-xl font-poppins-black ml-1.5  pt-2 text-[#626262]">Connect Here</h2>
        <div class="flex  justify-around pb-3">
            <div class=" w-10">
              <a href="https://za.linkedin.com/in/lebohang-lehutjo" target="_blank">
              <img src="assets/linkedin.png" alt="linkedin" class="w-10 md:w-16 bg-white rounded-full">
              </a>
            </div>


            <div class="relative w-10 ">
              <a href="https://github.com/Dober09" target="_blank">
                  <img src="assets/github.png" alt="github" class="w-10 md:w-16 bg-white rounded-full"> 
              </a>
            </div>

           <div class="flex flex-col justify-center items-center  ">
            <img src="assets/loading.gif" alt="loading">
            <p class="font-poppins-semi text-[#060606]">Who let the dog out ?</p>
          </div>
        </div>
    </div>
</div>