<main class=" xl:mx-10">
  <app-header/>
  
  <section class="grid grid-cols-1 lg:grid-cols-2 relative">

        <app-profile-card (btnClick)="btnClicked($event)"
                          class="relative 
                                 bottom-7
                                 md:bottom-32"/>
        
          @if(!isBtnClicked){
            <div>
                <app-project />
            </div>
          }@else {
            <div class="flex flex-col md:flex-row items-center md:items-start">
              <app-skill-card />
              <app-tools-card />
            </div>
          }
      
        <div class="mx-auto lg:absolute lg:top-72 lg:left-16 xl:left-64">
          <app-contact-form  />
        </div>

        <div class="mt-6">
           <div class="bg-[#626262]/20 backface-visible perspective-distant p-3 shadow-2xl rounded-md mx-2.5 space-y-4">
           <h2 class="text-xl font-poppins-black ml-1.5  pt-2 text-[#626262]">Connect Here</h2>
           <div class="flex  justify-around pb-3">
          
            <div class=" w-10">
              <a href="https://za.linkedin.com/in/lebohang-lehutjo" target="_blank">
              <img src="assets/linkedin.png" alt="linkedin" class="w-10 md:w-16 bg-white rounded-full">
              </a>
            </div>


            <div class="relative w-10 ">
              <a href="https://github.com/Dober09" target="_blank">
                  <img src="assets/github.png" alt="github" class="w-10 md:w-16 bg-white rounded-full"> 
              </a>
            </div>

           <div class="flex flex-col justify-center items-center  ">
            <img src="assets/loading.gif" alt="loading">
            <p class="font-poppins-semi text-[#060606]">Who let the dog out ?</p>
          </div>
          
          
        </div>

        </div>
        </div>
          

   

      
      
     
      
      

  </section>
 
  
  
 
  

  
  
</main>