<!-- <main class=" xl:mx-10">
  <app-header/>
  
  <section class="grid grid-cols-1  lg:grid-cols-3  gap-3 relative ">
    
      

      
           <app-profile-card (btnClick)="btnClicked($event)"
                          class="relative 
                                 bottom-7
                                 left-14
                                 sm:left-50
                                 md:left-0
                                 md:bottom-36"/>
            

        

        
        
          @if(isBtnClicked){  
            
            <div class=" lg:col-span-2 pb-4 mt-68 md:mt-0"> 
                <app-project />
            </div>
          }@else {
              
            <div class=" 
            pb-4
                          grid
                          grid-cols-1
                          lg:grid-cols-2
                          xl:grid-rows-2
                        lg:col-span-2">
              <app-skill-card class="xl:row-span-2" />
              <app-tools-card />
              <app-footer class="lg:col-span-2" />
            </div>
            
          
            
            

          }
       
        <div class="left-10 lg:absolute lg:top-72 lg:left-0 xl:left-32 bg-amber-500">
          <app-contact-form  />
        </div>

       @if(!isBtnClicked){
         <app-footer class="lg:relative lg:bottom-32 xl:bottom-44 col-span-2 "/>

        }

        
          

   

      
      
     
      
      

  </section>
 
  
  
 
  

  
  
</main> -->

<main class="xl:mx-10">
  <app-header/>

  <section class="flex flex-col items-center justify-center lg:grid lg:grid-cols-3 gap-3 relative">

    <div class="w-full flex justify-center items-center lg:block mb-80 lg:mb-0 z-50 ">
      <app-profile-card 
        (btnClick)="btnClicked($event)"
        class="absolute top-1 lg:top-[-120px]  lg:left-20 md:top-[-140px]"
      />
    </div>

    @if(!isBtnClicked){
      <div id="projects" class="w-full lg:col-span-2 pb-4">
        <app-project />
      </div>
    }@else{
      <div id="skills" class="w-full pb-4 grid grid-cols-1 md:grid-cols-2 xl:grid-rows-2 lg:col-span-2">
        <app-skill-card class="xl:row-span-2" />
        <app-tools-card  />
        <app-footer class="md:col-span-2" />
      </div>
    }

    <div class="w-full mx-auto  lg:absolute lg:top-72 xl:left-[50px] ">
      <app-contact-form />
    </div>

    @if(!isBtnClicked){
      <app-footer class="lg:relative lg:bottom-32 xl:bottom-44  w-full col-span-2"/>
    }

  </section>
</main>